.logo {
    font-size: 24px;
    color: #e5e7eb;
}

.logoo {
    font-weight: bold;
}

.header {
    display: flex; 
    justify-content: space-between;
    background: #1F2937;
    padding: 0px 180px;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}


ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: lightgray;
}

body {
    margin: 0;
    min-height: 100vh;
}

.part1half {
    display: flex;
    justify-content: space-between;
    background: #1F2937;
    color: white;
    padding: 60px 180px;
    gap: 60px;
    margin-top: 0;
    padding-bottom: 150px;
    width: 100%;
    box-sizing: border-box; 

}

.boo {
    margin-bottom: 0;
    flex-wrap: wrap;
}

.subtext {
    margin: 0;
    font-size: 18px;
    color: lightgray;
}

button {
    background-color:#3882f6;
    border: none;
    padding: 8px 30px;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-weight: bold;

}

.awe {
    font-weight: 800;
    font-size: 48px;
    margin: 0;
    color: #F9FAF8;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}


.title {
    display: flex;
    justify-content: center;
    margin-top: 0;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937
}

.box {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    color: gray;
    padding: 0px 250px;
    margin-bottom: 50px;
}

.image-container {
    display: inline-block;
    overflow: hidden;
    border-radius: 10px;
    padding: 10px; /* Adjust padding as needed */
    margin: 10px;
}

.image-container img {
    display: block;
    width: calc(100% - 20px); /* Adjust width to account for padding */
    height: auto;
    border: 2px solid #3882f6;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.5);
}

.body2 {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 250px;
    flex-direction: column;
}

.testimonial {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: black;
    margin-bottom: 0;
}

.test {
    margin-left: auto;
    margin-top: 0;
    font-weight: 600;
    font-size: 20px;
}

.body3 {
    padding: 50px 200px;

}

.container3 {
    background-color: #3882f6;
    border-radius: 10px; 
    display: flex;
    padding: 10px 100px;
    color: white;

}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;
    text-align: center;
    width: 100%;  
    padding: 20px;
}

.button11 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
}

.this1 {
    font-weight: 800;
    font-size: 20px;
}

.this2 {
    margin: 0
;}

.button11 button {
    background-color: #3882f6;
    color: white;
    border: 2px solid white; /* Adding border */
    padding: 4px 20px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease; /* Adding transition for smooth hover effect */
}

.button11 button:hover {
    background-color: #1F2937; /* Change background color on hover */
    border-color: #3882f6; /* Change border color on hover */
    color: white; /* Adjust text color on hover if necessary */
}